.AuthMessage{
  border: 3px solid var(--light-gray-text);
  background-color: var(--white);
  color: var(--black);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}

.danger{
  border-color: rgb(107, 2, 2);
  background-color: rgb(187, 6, 6);
}

.AuthMessageContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}

.danger > .text > h3,
.danger > .text  > p{
  color: var(--white);
}

.noMessage{
  display: none;
}
