.DashboardLayout{
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.sidebardLayout{
  background-color: var(--dashboard-dark);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebardLayout > header > h1 {
  color: var(--white);
}

.sidebardLayout > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.sidebardLayout > ul > li > a {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1.3rem;
}

.sidebardLayout > ul > li > a > svg{
  fill: var(--white)
}
.sidebardLayout > ul > li > a {
  color: var(--white);
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}

.sidebardLayout > ul > li > a:hover{
  color: var(--standard-yellow);
}

.userDataDashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userDataDashboard > img{
  width: 6rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
}

.userDataDashboard > h3,
.userDataDashboard > p{
  color: var(--white);
}

.btnsDataDashboard{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.btnDashboardNav{
  display: block;
  font-size: 1.3rem;
  background: none;
  border: 0.3rem;
  padding: 0.4rem;
  fill: var(--white);
}

.btnDashboardNav > svg{
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  fill: var(--white);
}

.settings:hover,
.fauser:hover{
  fill: var(--standard-yellow);
}


.logout:hover{
  fill: rgb(194, 9, 9);
}

.childrenLayout{
  padding: 2rem;
  width: 100%;
  background-color: var(--background-gray);
}

.WorkingDiv{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.workingBtn{
  display: block;
  margin-top: 2rem;
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: 0.5s all ease-in-out;
  font-weight: 600;
}

.workingBtn:hover{
  color: var(--black);
  background-color: var(--standard-yellow);
}